// transitions
$transition-slow: all 0.3s ease-in-out;
$transition-fast: all 0.15s ease-in-out;

// letter-spacing
$ls-sm: 3px;

// shadows
$text-shadow: 2px 2px black;
// $box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
// $box-shadow-md: rgba(0, 0, 0, 0.35) 0px 5px 15px;

// colors
$dark-green: #013220;
$gray-1: #ebeae8;
$white-1: #fbfbf9;
$matte-black: #28282b;

// dimens
$icon-big: 2.5rem;

.hidden-x-left {
  opacity: 0;
  transform: translateX(-30%);
}

.hidden-x-right {
  opacity: 0;
  transform: translateX(30%);
}
