@import "../../assets/scss/variables.scss";

#roomCards {
  :nth-child(2) {
    animation-delay: 100ms;
  }
  :nth-child(3) {
    animation-delay: 200ms;
  }
}

.room-card {
  border-radius: 1rem;
  overflow: hidden;
  cursor: pointer;
  transform: translateX(50%);
  opacity: 0;

  &:hover {
    img {
      scale: 1.05;
    }
  }

  h5 {
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 0.5rem 0;
    letter-spacing: 3px;
    margin-bottom: 0;
    font-size: 1rem;
  }

  img {
    width: 100%;
    max-height: 5rem;
    object-fit: cover;
    transition: $transition-slow;
  }
}
